@-webkit-keyframes mv {
  0% {
    background-position: 0% 63%;
  }
  50% {
    background-position: 100% 38%;
  }
  100% {
    background-position: 0% 63%;
  }
}
@-moz-keyframes mv {
  0% {
    background-position: 0% 63%;
  }
  50% {
    background-position: 100% 38%;
  }
  100% {
    background-position: 0% 63%;
  }
}
@-o-keyframes mv {
  0% {
    background-position: 0% 63%;
  }
  50% {
    background-position: 100% 38%;
  }
  100% {
    background-position: 0% 63%;
  }
}
@keyframes mv {
  0% {
    background-position: 0% 63%;
  }
  50% {
    background-position: 100% 38%;
  }
  100% {
    background-position: 0% 63%;
  }
}

.box {
  vertical-align: middle;
  line-height: 60px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  padding-left: 30px;
}

.box a {
  display: block;
}

a,
a:active,
a:focus,
a:focus-visible,
a:focus-within,
a:hover,
a:visited {
  text-decoration: none;
}

.header,
.footer {
  background: none;
  border: none;
  box-shadow: none;
  text-align: center;
  padding: 0px;
}

* {
  font-size: 14pt;
  color: #2b2b2b;
}

.skip-link:focus {
  top: 0;
}
