---
---

@import "{{ site.theme }}";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap");
@import url("https://api.fontshare.com/css?f[]=general-sans@400,700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 * {
  font-family: "Raleway", sans-serif;
  font-weight: 900 !important;
  text-transform: uppercase;
}

* {
  font-family: "General Sans", sans-serif;
  color: #434343 !important;
}

body {
  background-color: #f7e10e;
}

section {
  border: none !important;
  border-width: 0 !important;
}